// Colors
$black: #000000;
$cool-gray-50: #878d96;
$cool-gray-60: #697077;
$cool-gray-40: #a2a9b0;
$cool-gray-100: #121619;
$cool-gray-90: #21272a;
$cool-gray-70: #4d5358;
$cool-gray-30: #c1c7cd;
$cool-gray-80: #343a3f;
$cool-gray-20: #dde1e6;
$cool-gray-10: #f2f4f8;
$gray-100: #161616;
$gray-90: #262626;
$gray-90: #161616;
$gray-80: #393939;
$gray-70: #525252;
$gray-50: #8d8d8d;
$gray-60: #6f6f6f;
$gray-40: #a8a8a8;
$gray-30: #c6c6c6;
$gray-20: #e0e0e0;
$gray-10: #f4f4f4;
$blue-100: #001141;
$blue-90: #001d6c;
$blue-70: #0043ce;
$blue-80: #002d9c;
$blue-60: #0f62fe;
$blue-50: #4589ff;
$blue-30: #a6c8ff;
$blue-40: #78a9ff;
$blue-20: #d0e2ff;
$blue-10: #edf5ff;
$white: #ffffff;
$red-60: #da1e28;
$orange-40: #ff832b;
$green-60: #198038;
$green-70: #0e6027;
$green-50: #24a148;
$green-40: #42be65;
$green-30: #6fdc8c;
$green-20: #a7f0ba;
$green-100: #071908;
$green-80: #044317;
$green-90: #022d0d;
$yellow-100: #1c1500;
$green-10: #defbe6;
$yellow-90: #302400;
$yellow-80: #483700;
$yellow-70: #684e00;
$yellow-60: #8e6a00;
$yellow-50: #b28600;
$yellow-40: #d2a106;
$yellow-20: #fddc69;
$yellow-30: #f1c21b;
$yellow-10: #fcf4d6;
$orange-100: #231000;
$orange-90: #3e1a00;
$orange-80: #5e2900;
$orange-70: #8a3800;
$orange-60: #ba4e00;
$orange-50: #eb6200;
$orange-40: #ff832b;
$orange-30: #ffb784;
$orange-20: #ffd9be;
$orange-10: #fff2e8;
$red-100: #2d0709;
$red-90: #520408;
$red-40: #ff8389;
$red-30: #ffb3b8;
$red-20: #ffd7d9;
$red-10: #fff1f1;
$red-80: #750e13;
$red-50: #fa4d56;
$red-60: #da1e28;
$red-70: #a2191f;
$purple-100: #1c0f30;
$purple-90: #31135e;
$purple-40: #be95ff;
$purple-30: #d4bbff;
$purple-50: #a56eff;
$purple-20: #e8daff;
$purple-10: #f6f2ff;
$purple-80: #491d8b;
$purple-60: #8a3ffc;
$purple-70: #6929c4;

// Spacing

$spacing-0: 2px;
$spacing-1: 4px;
$spacing-2: 6px;
$spacing-3: 8px;
$spacing-4: 10px;
$spacing-5: 12px;
$spacing-6: 14px;
$spacing-7: 16px;
$spacing-8: 18px;
$spacing-9: 20px;
$spacing-10: 22px;
$spacing-11: 24px;
$spacing-12: 26px;
$spacing-13: 28px;
$spacing-14: 30px;
$spacing-15: 32px;
$spacing-16: 34px;
$spacing-17: 36px;
$spacing-18: 38px;
$spacing-19: 40px;
$spacing-20: 42px;
$spacing-21: 44px;
$spacing-22: 46px;
$spacing-23: 48px;
$spacing-24: 50px;
$spacing-25: 52px;
$spacing-26: 54px;
$spacing-27: 56px;
$spacing-28: 58px;
$spacing-29: 60px;
$spacing-30: 62px;
$spacing-31: 64px;
$spacing-32: 66px;
$spacing-33: 68px;
$spacing-34: 70px;
$spacing-35: 72px;
$spacing-36: 74px;
$spacing-37: 76px;
$spacing-38: 78px;
$spacing-39: 80px;
$spacing-40: 82px;
$spacing-41: 84px;
$spacing-42: 86px;
$spacing-43: 88px;
$spacing-44: 90px;
$spacing-45: 92px;
$spacing-46: 94px;
$spacing-47: 96px;
$spacing-48: 98px;
$spacing-49: 100px;
$spacing-50: 102px;