# Encryption keys used during build
CRYPTO_KEY=
MAGIC_IV=
MAGIC_SALT=
NEW_CRYPTO_KEY=

# Core API endpoints
NEW_DRIVE_URL=
BRIDGE_URL=
PAYMENTS_URL=
NOTIFICATIONS_URL=

# Desktop client identification
INTERNXT_DESKTOP_HEADER_KEY=
