.DS_Store
dist/electron/*
dist/web/*
dist/backup-process/index.js
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
.env
database_*.db
database_*.db~
database/fileLogger/*