/.env
/.erb/dll
/.github/copilot-instructions.md
/.idea
/.vscode/*
!/.vscode/launch.json
!/.vscode/tasks.json
/.zed
/build
/clamAV/*
/CLAUDE.md
/coverage
/dist
/.debug
/node_modules
/test-files

!/clamAV/clamd.conf
!/clamAV/freshclam.conf
