.text-gradient {
    font-family: 'Averta-semibold';
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.h-800 {
    height: 800px;
}