@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./assets/fonts/InstrumentSans/font.css');

:root {
  color-scheme: light dark;

  --color-white: 255 255 255;
  --color-black: 0 0 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-highlight: 17 17 17;
    --color-surface: 255 255 255;

    --color-gray-1: 249 249 252;
    --color-gray-5: 243 243 248;
    --color-gray-10: 229 229 235;
    --color-gray-20: 209 209 215;
    --color-gray-30: 199 199 205;
    --color-gray-40: 174 174 179;
    --color-gray-50: 142 142 148;
    --color-gray-60: 99 99 103;
    --color-gray-70: 72 72 75;
    --color-gray-80: 58 58 59;
    --color-gray-90: 44 44 48;
    --color-gray-100: 24 24 27;

    --color-primary: 0 102 255;
    --color-primary-dark: 0 88 219;

    --color-red: 255 13 0;
    --color-red-dark: 230 11 0;

    --color-orange: 255 149 0;
    --color-orange-dark: 230 134 0;

    --color-yellow: 255 204 0;
    --color-yellow-dark: 230 184 0;

    --color-green: 50 195 86;
    --color-green-dark: 46 173 78;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-highlight: 255 255 255;
    --color-surface: 17 17 17;

    --color-gray-1: 24 24 27;
    --color-gray-5: 44 44 48;
    --color-gray-10: 58 58 59;
    --color-gray-20: 72 72 75;
    --color-gray-30: 99 99 103;
    --color-gray-40: 142 142 148;
    --color-gray-50: 174 174 179;
    --color-gray-60: 199 199 205;
    --color-gray-70: 209 209 215;
    --color-gray-80: 229 229 235;
    --color-gray-90: 243 243 248;
    --color-gray-100: 249 249 252;

    --color-primary: 20 114 255;
    --color-primary-dark: 0 96 240;

    --color-red: 255 61 51;
    --color-red-dark: 255 36 26;

    --color-orange: 255 164 36;
    --color-orange-dark: 255 153 10;

    --color-yellow: 255 214 51;
    --color-yellow-dark: 255 209 26;

    --color-green: 72 208 106;
    --color-green-dark: 52 203 90;
  }
}

body,
html {
  font-family: 'Instrument Sans', sans-serif;
  @apply select-none bg-surface text-highlight dark:bg-gray-1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* begin-scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #555;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
  }
}
/* end-scrollbar */

.draggable {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

.non-draggable {
  -webkit-app-region: no-drag;
}

body {
  overflow: hidden;
}

/** Backups animation **/

.backups-modal-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.backups-modal-shadow {
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px rgba(0, 0, 0, 0.1);
}

#eDsPAmXJYBu3_to {
  animation: eDsPAmXJYBu3_to__to 7000ms linear infinite normal forwards;
}
@keyframes eDsPAmXJYBu3_to__to {
  0% {
    transform: translate(112px, 112px);
  }
  7.142857% {
    transform: translate(112px, 112px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  14.285714% {
    transform: translate(112px, 101px);
  }
  94.285714% {
    transform: translate(112px, 101px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  100% {
    transform: translate(112px, 112px);
  }
}
#eDsPAmXJYBu5_to {
  animation: eDsPAmXJYBu5_to__to 7000ms linear infinite normal forwards;
}
@keyframes eDsPAmXJYBu5_to__to {
  0% {
    transform: translate(112px, 112px);
  }
  7.142857% {
    transform: translate(112px, 112px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  14.285714% {
    transform: translate(112px, 123px);
  }
  94.285714% {
    transform: translate(112px, 123px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  100% {
    transform: translate(112px, 112px);
  }
}
#eDsPAmXJYBu6_tr {
  animation: eDsPAmXJYBu6_tr__tr 7000ms linear infinite normal forwards;
}
@keyframes eDsPAmXJYBu6_tr__tr {
  0% {
    transform: translate(110.500683px, 123.000042px) rotate(120deg);
  }
  14.285714% {
    transform: translate(110.500683px, 123.000042px) rotate(120deg);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  20% {
    transform: translate(110.500683px, 123.000042px) rotate(0deg);
  }
  88.571429% {
    transform: translate(110.500683px, 123.000042px) rotate(0deg);
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  94.285714% {
    transform: translate(110.500683px, 123.000042px) rotate(-120deg);
  }
  100% {
    transform: translate(110.500683px, 123.000042px) rotate(-120deg);
  }
}
#eDsPAmXJYBu6 {
  animation: eDsPAmXJYBu6_c_o 7000ms linear infinite normal forwards;
}
@keyframes eDsPAmXJYBu6_c_o {
  0% {
    opacity: 0;
  }
  12.857143% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  20% {
    opacity: 1;
  }
  87.142857% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  94.285714% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#eDsPAmXJYBu7_ts {
  animation: eDsPAmXJYBu7_ts__ts 7000ms linear infinite normal forwards;
}
@keyframes eDsPAmXJYBu7_ts__ts {
  0% {
    transform: translate(119.50119px, 118.50119px) scale(0.75, 0.75);
  }
  18.571429% {
    transform: translate(119.50119px, 118.50119px) scale(0.75, 0.75);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  22.857143% {
    transform: translate(119.50119px, 118.50119px) scale(1, 1);
  }
  87.142857% {
    transform: translate(119.50119px, 118.50119px) scale(1, 1);
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  91.428571% {
    transform: translate(119.50119px, 118.50119px) scale(0.75, 0.75);
  }
  100% {
    transform: translate(119.50119px, 118.50119px) scale(0.75, 0.75);
  }
}
#eDsPAmXJYBu7 {
  animation: eDsPAmXJYBu7_c_o 7000ms linear infinite normal forwards;
}
@keyframes eDsPAmXJYBu7_c_o {
  0% {
    opacity: 0;
  }
  18.571429% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  22.857143% {
    opacity: 1;
  }
  87.142857% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  91.428571% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/** Upload success animation SVG **/

#e3D4vWITAh74_to {
  animation: e3D4vWITAh74_to__to 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh74_to__to {
  0% {
    transform: translate(-15.467793px, 112.5325px);
  }
  87.5% {
    transform: translate(-15.467793px, 112.5325px);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  100% {
    transform: translate(85.532207px, 112.5325px);
  }
}
#e3D4vWITAh74 {
  animation: e3D4vWITAh74_c_o 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh74_c_o {
  0% {
    opacity: 0;
  }
  87.5% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  100% {
    opacity: 1;
  }
}
#e3D4vWITAh713_to {
  animation: e3D4vWITAh713_to__to 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh713_to__to {
  0% {
    transform: translate(85.532207px, 112.5325px);
  }
  87.5% {
    transform: translate(85.532207px, 112.5325px);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  100% {
    transform: translate(197.042207px, 112.5325px);
  }
}
#e3D4vWITAh713_ts {
  animation: e3D4vWITAh713_ts__ts 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh713_ts__ts {
  0% {
    transform: scale(0.71, 0.71);
  }
  87.5% {
    transform: scale(0.71, 0.71);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
#e3D4vWITAh722_to {
  animation: e3D4vWITAh722_to__to 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh722_to__to {
  0% {
    transform: translate(197.042207px, 112.75px);
  }
  87.5% {
    transform: translate(197.042207px, 112.75px);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  100% {
    transform: translate(310px, 112.5325px);
  }
}
#e3D4vWITAh722_ts {
  animation: e3D4vWITAh722_ts__ts 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh722_ts__ts {
  0% {
    transform: scale(1, 1);
  }
  87.5% {
    transform: scale(1, 1);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  100% {
    transform: scale(0.71, 0.71);
  }
}
#e3D4vWITAh731_ts {
  animation: e3D4vWITAh731_ts__ts 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh731_ts__ts {
  0% {
    transform: translate(199.5px, 119.999985px) scale(0.5, 0.5);
  }
  5% {
    transform: translate(199.5px, 119.999985px) scale(0.5, 0.5);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  12.5% {
    transform: translate(199.5px, 119.999985px) scale(1, 1);
  }
  55% {
    transform: translate(199.5px, 119.999985px) scale(1, 1);
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  60% {
    transform: translate(199.5px, 119.999985px) scale(0.5, 0.5);
  }
  100% {
    transform: translate(199.5px, 119.999985px) scale(0.5, 0.5);
  }
}
#e3D4vWITAh731 {
  animation: e3D4vWITAh731_c_o 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh731_c_o {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  12.5% {
    opacity: 1;
  }
  55% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#e3D4vWITAh734_tr {
  animation: e3D4vWITAh734_tr__tr 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh734_tr__tr {
  0% {
    transform: translate(200.000002px, 119.999985px) rotate(-90deg);
  }
  7.5% {
    transform: translate(200.000002px, 119.999985px) rotate(-90deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  52.5% {
    transform: translate(200.000002px, 119.999985px) rotate(0deg);
  }
  100% {
    transform: translate(200.000002px, 119.999985px) rotate(0deg);
  }
}
#e3D4vWITAh735_tr {
  animation: e3D4vWITAh735_tr__tr 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh735_tr__tr {
  0% {
    transform: translate(200.000002px, 119.999985px) rotate(-90deg);
  }
  7.5% {
    transform: translate(200.000002px, 119.999985px) rotate(-90deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  52.5% {
    transform: translate(200.000002px, 119.999985px) rotate(90deg);
  }
  100% {
    transform: translate(200.000002px, 119.999985px) rotate(90deg);
  }
}
#e3D4vWITAh736_tr {
  animation: e3D4vWITAh736_tr__tr 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh736_tr__tr {
  0% {
    transform: translate(200.000002px, 119.999985px) rotate(-90deg);
  }
  7.5% {
    transform: translate(200.000002px, 119.999985px) rotate(-90deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  52.5% {
    transform: translate(200.000002px, 119.999985px) rotate(180deg);
  }
  100% {
    transform: translate(200.000002px, 119.999985px) rotate(180deg);
  }
}
#e3D4vWITAh737_ts {
  animation: e3D4vWITAh737_ts__ts 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh737_ts__ts {
  0% {
    transform: translate(199.499999px, 119.999985px) scale(0.9, 0.9);
  }
  62.5% {
    transform: translate(199.499999px, 119.999985px) scale(0.9, 0.9);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  70% {
    transform: translate(199.499999px, 119.999985px) scale(1.292307, 1.292307);
  }
  100% {
    transform: translate(199.499999px, 119.999985px) scale(1.292307, 1.292307);
  }
}
#e3D4vWITAh737 {
  animation: e3D4vWITAh737_c_o 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh737_c_o {
  0% {
    opacity: 0;
  }
  62.5% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#e3D4vWITAh741_to {
  animation: e3D4vWITAh741_to__to 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh741_to__to {
  0% {
    transform: translate(310px, 112.5325px);
  }
  87.5% {
    transform: translate(310px, 112.5325px);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  100% {
    transform: translate(406.002207px, 112.5325px);
  }
}
#e3D4vWITAh741 {
  animation: e3D4vWITAh741_c_o 4000ms linear infinite normal forwards;
}
@keyframes e3D4vWITAh741_c_o {
  0% {
    opacity: 1;
  }
  87.5% {
    opacity: 1;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  100% {
    opacity: 0;
  }
}
