@import "../../../../src/index.scss";

.fileLogger {
  position: relative;
  max-height: calc(100% - (64px + 44px));
  @include text-base;

  .emptyState {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;

    .icon {
      position: relative;
      width: 200px;
      height: 200px;
      background: $l-neutral-10;
      border-radius: 100%;
      margin-bottom: 16px;

      .iconFront, .iconBack {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center center;
        transform: translateX(-60%) translateY(-50%) rotateZ(-10deg);
      }
      .iconBack {
        transform: translateX(-40%) translateY(-50%) rotateZ(15deg);
        opacity: .6;
      }
    }

    .msgTitle {
      color: $neutral-500;
    }
    .msgDescription{
      @include text-sm;
      color: $m-neutral-80;
    }
  }
}

.clearLog {
  position: sticky;
  height: 0 !important;
  right: 0 !important;

  .button {
    @include text-sm;
    float: right;
    padding: $spacing-1 $spacing-6;
    margin: $spacing-4 $spacing-6;
    color: $blue-60;
    border-radius: $spacing-3;
    cursor: pointer;
    transition: all .1s ease-out;

    &:hover {
      background: $blue-10;
    }

    &.disabled {
      color: $m-neutral-80;

      &:hover {
        background: $l-neutral-20;
      }
    }
  }
}

.timeStamp {
  @include bg-blur($spacing-2);
  color: $neutral-500;
  @include text-sm;
  z-index: 5;
}

.timeStampGroup:first-child {
  .timeStamp {
    margin-top: 0;
  }
}
.timeStampGroup:last-child {
  margin-bottom: $spacing-3;
}

.fileItem {
  &:hover {
    background: $l-neutral-10;
    transition: all .1s ease-out;
  }

  &:active {
    background: $blue-10;
    transition: all .1s ease-out;

    &[status="error"],&[status="removed"] {
      background: none;
    }
  }

  .itemIcon {
    width: $spacing-19;
    height: $spacing-19;
  }
  .itemTag {
    width: 100% !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: $spacing-3;
  }
  .itemName {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .itemInfo {
    color: $neutral-500;
  }

  // Opacity .5 when file is uploading, downloading or encrypting
  &[status="uploading"], &[status="downloading"], &[status="encrypting"] {
    .itemIcon, .itemTag {
      opacity: .3;
    }
  }
  &[status="encrypting"], &[status="uploading"], &[status="uploaded"], &[status="downloaded"] {
    cursor: pointer;
  }

  // Info color when success
  &[status="uploaded"], &[status="downloaded"] {
    .itemInfo {
      color: $green-60;
    }
  }

  // Info color when error
  &[status="error"] {
    .itemInfo {
      color: $red-60;
    }
  }
}













/*
.fileStatusBox {
    overflow-y: scroll;
}
.fileStatusBox::-webkit-scrollbar {
    width: 4px;
  }
  
  .fileStatusBox::-webkit-scrollbar-track {
    background: white;
  }
  
  .fileStatusBox::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    //background-color: #1D4ED8;
    //border-radius: 20px;
    // border: 3px solid orange;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #cacaca white;
    //scrollbar-color: #1D4ED8 white;
  }
  
  *::-webkit-scrollbar {
    width: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: white;
    //border-radius: 20px;
    // border: 3px solid orange;
  }
  */