@import "../scss/globals";

html {
  background-color: transparent;
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  @include text-base ;
  color: $neutral-900;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: $l-neutral-20;
  font-variant: normal;
  font-feature-settings: normal;
}

.text-blue-60 {
  color: $blue-60;
}
.text-green-60 {
  color: $green-60;
}
.text-red-60 {
  color: $red-60;
}
.text-neutral-900 {
  color: $neutral-900;
}
.text-neutral-500 {
  color: $neutral-500;
}

.check-success {
  background: $green-50;
  border-radius: 100%;
  fill: $white;
}