name: Build Windows

#on:
#  create:
#    tags:
#      - '*'
on:
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install yarn and requirements
        run: |
          SET GH_TOKEN= ${{ secrets.GITHUB_TOKEN }}
          Remove-Item -Path "C:\Users\LENOVO\Desktop\Trabajo\drive-web-sign\drive-desktop" -Recurse -Force
          cd C:\Users\LENOVO\Desktop\Trabajo\drive-web-sign\
          git clone https://github.com/internxt/drive-desktop.git
          cd drive-desktop
          Copy-Item -Path "..\variables\.env" -Destination ".\"
          Copy-Item -Path "..\variables\.npmrc" -Destination ".\"
          npm install --global yarn
          npm install yarn --save-dev
          yarn install --network-timeout 1000000
          yarn run build
          cd ..
          python check-sign.py --ErrorAction Stop
      - name: Check file
        run: |
          ls release/build/
